// Settings
    // Imports
    @import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700,800,900&display=swap');

    // Colors
    $accColor1: #59252F;
    $accColor2: #26141C;
    $accColor3: rgb(254, 254, 254);
    $accColor4: #8C5946;
    $accColor5: #A6554E;
    $accColor6: #FFFDF6;

    // Globals
    $backgroundOpacity: 0.7;