@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700,800,900&display=swap');

@import "hamburgers/hamburgers";
@import "slider/slider";

/* Color Theme Swatches */
$accColor1: #59252F;
$accColor2: #26141C;
$accColor3: rgb(254, 254, 254);
$accColor4: #8C5946;
$accColor5: #A6554E;
$accColor6: #FFFDF6;

$textColor: $accColor2;

html, body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    color: $textColor;
}

button:focus {outline:0;}

#home-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-flow: column;
}

#menu-bar {
    background-color: $accColor3;
    min-height: 100px;
    height: 10%;
    transition: height .5s;
    z-index: 101;
    box-shadow: 0px 5px 15px 0px rgba(38,20,28,0.6);
    
    &.open {
        height: 100vh !important;
    }
}

.app-header {
    background-color: $accColor3;
    min-height: 100px;
    height: 10%;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-template-areas: "hamburger logo";
    align-items: center;
    z-index: 101;

    #hamburger-container {
        grid-area: hamburger;
        cursor: pointer;
        justify-self: center;
        z-index: 1000;
    }

    .logo-container {
        grid-area: logo;

        svg {
            cursor: pointer;
            width: 130px;
            fill: $textColor;
        }
    }

    #menu-list {
        visibility: hidden;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 40%;
    
        .nav-link {
            padding: .75em 10% .75em 10%;
            position: relative;
            opacity: 0.75;
            display: block;
            color: $textColor;
            text-decoration: none;
            font-size: 1em;
            letter-spacing: .07em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            &::after {
                display:block;
                content: '';
                border-bottom: solid 3px $textColor;  
                transform: scaleX(0);  
                transition: transform 200ms ease-in-out;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;

                &:not(.profile-btn)::after {
                    transform: scaleX(1);
                }
            }
        }

            .profile-btn {
                border: 5px solid $accColor2;
                color: $accColor2;
                background-image: linear-gradient($accColor2, $accColor2);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 0% 100%;
                transition: background-size .2s, color .2s;
                opacity: 0.75;
                margin-top: 20px;
    
                &:hover {
                    background-size: 100% 100%;
                    color: $accColor3;
                }
        }
    }
}

.menu-visible, .profile-visible {
    visibility: visible !important;
    animation-name: reveal;
    animation-duration: .7s;
}

.app-slider {
    background-color: $accColor1;
    width: 100%;
    height: 100%;
    z-index: 0;

}

@keyframes reveal {
    from {opacity: 0}
    to {opacity: 1}
}